

*{
  font-family: montserrat;
  box-sizing: border-box !important;
}
/*NAVIGATION*/
    /*NAVIGATION FONCTIONNELLE*/
      nav, .navbar-brand{
        padding:0px 0px 0px 10px !important;
      }

      .bg-light{
          background-color: #A578AE !important;
        }

      .link-nextcloud img{
        display:inline!important;
      }

      .link-nextcloud a{
        padding-right:4vw;
      }

    /*LOGO CLIENT*/

      .listeclient{
        border-bottom: 10px solid #F8AE4E;
        text-align: right;
        margin-bottom:5vh;
      }

      .listeclient p{
        text-align:left;
        display:block;
      }

      .listeclient-item img{
        margin:20px;
      }

      .actiglass{
        height :5vh;
        width: auto;
      }

      .bubendorff{
        height :10vh;
        width: auto;
      }

      .cif{
        height :12vh;
        width: auto;
      }

      .socrif{
        height:7vh;
        width: auto;
      }

/*TEXTE*/
  h3, .text-danger{
    color:#D1371D !important;
    font-weight: 600;
    text-align:center;
    font-size:31px;
    margin-bottom:5vh;
  }

  h5{
    font-size:26px;
    border-bottom: 5px solid #D7D0D8;
    padding-bottom: 2vh;
    margin-bottom: 0;
  }

  .col-md-4 p:first-child{
    font-weight: 550;
  }

/*COLONE-LIGNE*/
  .col-md-4{
    border-right: 2px solid #D7D0D8;
    border-bottom: 5px solid #D7D0D8;
    padding : 3vh 1.5vw;
  }

  .col-md-4:nth-child(3), .col-md-4:nth-child(6), .col-md-4:nth-child(9){
    border-right: 0px;
  }
  .row{
    padding-bottom: 2vh;
  }

  .block-puce{
    display: flex !important;
    align-items: baseline;
  }
  input{
    margin-right: 0.5vw;
  }
