

*{
  font-family: montserrat;
  box-sizing: border-box !important;
}
/*NAVIGATION*/
    /*NAVIGATION FONCTIONNELLE*/
      nav, .navbar-brand{
        padding:0px 0px 0px 10px !important;
        display: absolute !important;
        position: -webkit-sticky !important; /* Safari */
        position: sticky !important;
        top:0vh;
        z-index:1;
      }

      .bg-light{
          background-color: #A578AE !important;
        }

      .link-nextcloud img{
        display:inline!important;
      }

      .link-nextcloud a{
        padding-right:4vw;
      }

    /*LOGO CLIENT*/

      .listeclient{
        background-color: #fff;
        border-bottom: 10px solid #F8AE4E;
        display: absolute !important;
        position: -webkit-sticky !important; /* Safari */
        position: sticky !important;
        top:8vh;
        z-index:1;
      }

      .flex{
        display:flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 0.5vh 5vw;
      }

      .flex div:nth-child(1){
        display:flex;
        align-items: center;
      }

      .flex div:nth-child(1) img{
        width:3vw;
      }

      .flex div:nth-child(1) a{
        color:#D1371D;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 17px;
        padding-left: 1vw;
      }

      .listeclient-item img{
        margin:20px;
      }

      .actiglass{
        height :3vh;
        width: auto;
      }

      .bubendorff{
        height :7vh;
        width: auto;
      }

      .cif{
        height :9vh;
        width: auto;
      }

      .socrif{
        height:5vh;
        width: auto;
      }

/*TEXTE*/
  h3, .text-danger{
    color:#D1371D !important;
    font-weight: 600;
    text-align:center;
    font-size:31px;
    margin-bottom:5vh;
  }

  h5{
    font-size:26px;
    border-bottom: 5px solid #D7D0D8;
    padding-bottom: 2vh;
    margin-bottom: 0;
  }

  .col-md-4 p:first-child{
    font-weight: 550;
  }

/*BOUTONS*/

  .btn{
    background: rgb(165,120,174);
      background: -moz-linear-gradient(180deg, rgba(165,120,174,1) 6%, rgba(98,75,101,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(165,120,174,1) 6%, rgba(98,75,101,1) 100%);
      background: linear-gradient(180deg, rgba(165,120,174,1) 6%, rgba(98,75,101,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a578ae",endColorstr="#624b65",GradientType=1);
    border:0;
    border-radius:50px;
    padding:1vh 2vw;
    color:#fff !important;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin:auto;
  }

  .btn-search .btn{
    margin:0vh 1vw 8vh 0vw !important;
  }

  .btn-search{
    background-color: #fff;
    display:absolute;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:29.7vh;
    z-index:1;
    padding-top: 5vh;
  }

/*COLONE-LIGNE*/
  .col-md-4{
    border-right: 2px solid #D7D0D8;
    border-bottom: 5px solid #D7D0D8;
    padding : 3vh 1.5vw;
  }

  .col-md-4:nth-child(3), .col-md-4:nth-child(6), .col-md-4:nth-child(9){
    border-right: 0px;
  }
  .row{
    padding-bottom: 2vh;
  }

  .block-puce{
    display: flex !important;
    align-items: baseline;
  }
  input{
    margin-right: 0.5vw;
  }
